.item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.item:last-of-type {
}

.users {
    width: 606px;
    padding-top: 20px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.container {
    width: 606px;
}

.thead {
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.nameCol {
    padding: 10px 15px 10px 15px;
}

.ageCol {
    padding: 10px 15px 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}