.sendForm {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.textarea {
    min-width: 80%;
    resize: none;
    padding: 12px 25px;
    box-sizing: border-box;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    border: transparent;
}

.button {
    width: 10%;
    height: 40px;
    padding: 10px;
    background: #0066CC;
    border-radius: 20px;
    border: transparent;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.button:hover {
    background: #38baff;
    color: black;
}
.button:active {

}
